:root {
    --mint: #00ffc8;
    --coral: #ff7675;
    --lemon: #ffe66d;
    --lavender: #a29bfe;
  
    --bg-color: #1a1a1a;
    --text-color: #f6eb5c;
    --navbar-bg: #2b2b2b;
    --border-color: #444;
    --highlight: #333;

    --font-family: inter;
  }
  

  body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* voorkomt dubbele scrollbars */
    display: flex;
    flex-direction: column;
    font-family: inter;
    background-color: var(--bg-color);
    color: var(--text-color);
  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--navbar-bg);
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .play-button {
    font-size: 1.5rem;
    background: none;
    color: var(--text-color);
    border: none;
    cursor: pointer;
  }
  
  .navbar-controls {
    display: flex;
    gap: 2rem;
    color: var(--text-color);
  }
  
  .slider-group {
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
  }
  
  .text-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .text-box {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    background-color: #262626;
  }

  #editable-text {
    height: 70vh; /* of bijvoorbeeld 60vh, wat jij prettig vindt */
    overflow-y: auto; /* maakt verticale scroll mogelijk */
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .text-box h2,
  .text-box p {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .text-box p:focus {
    outline: 2px dashed var(--lemon);
    background-color: #333;
  }
  
  .annotation-controls {
    display: flex;
    gap: 1rem;
    /* background-color: aqua; */
  }
  

  /* color btns */
  .color-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: var(--navbar-bg);
    height: 100%;
    width: 140px;
    justify-items: center; /* Horizontaal centreren */
    align-items: center; 
    border-radius: 8px;
    border: 1px solid var(--border-color);
  
  }
  
  .color {
    width: 50px;
   height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .color:hover {
    transform: scale(1.1);
  }
  
  .color1 {
    background-color: var(--mint);
    
  }
  .color2 {
    background-color: var(--coral);
  }
  .color3 {
    background-color: var(--lemon);
  }
  .color4 {
    background-color: var(--lavender);
  }


  .annotation-input {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .annotation-input input {
    background-color: #333;
    border: 1px solid var(--border-color);
    height: 100%;
    width: 300px;
    border-radius: 8px;
  }
  
  .plus-button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--lemon);
    border: none;
    color: black;
    font-weight: bold;
    border-radius: 4px;
  }
  
  .annotation-sidebar {
    flex: 1;
    background-color: #262626;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
    color: var(--text-color);
    max-width: 400px;
  }
  
  .annotation-title {
    margin-top: 0;
  }
  
  .category {
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #333;
    padding: 3rem;
    border-radius: 60px;
    text-align: center;


    &:nth-of-type(1){
        background-color: var(--mint);
        color: var(--bg-color);
    }
    &:nth-of-type(2){
        background-color: var(--coral);
        color: var(--bg-color);
    }
    &:nth-of-type(3){
        background-color: var(--lemon);
        color: var(--bg-color);
    }
    &:nth-of-type(4){
        background-color: var(--lavender);
        color: var(--bg-color);
    }


  }
  
  
  ul {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }
  
  .voice-button {
    border: 1px solid var(--border-color);
    background-color: var(--navbar-bg);
    padding: 3rem;
  border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  
  .microphone-icon {
    font-size: 1.5rem;
    color: var(--text-color);
  }
  